#detail-container{
    height: auto;
    width:90%;
    background-color: white;
    border-radius: 5px;
    margin-left: 50px;
}

#detail-container h4{
    margin-left: 10px;
}

.detail-sections{
    display: flex;
    flex-direction: column;
}

.detail-section{
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
    row-gap: 10px;
    height: auto;
    width:95%;
}

.image{
    height: 20px;
    width: 20px;
}

.detail-content{
    display:flex;
    margin-top: 15px;
    height: auto;
    flex-direction: column;
}

.no-marginTop{
    margin-top: 0px;
}

.detail-content p{
    margin-top:auto;
    margin-bottom: auto;
}

.detail-heading{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: auto;
}

.symbol{
    height: 20px;
    width:20px;
    margin-right: 5px;
}

.heading{
    height: auto;
}

.heading p{
    color: #455A64;
    margin: auto;
    font-size: small;
}

.full-width{
    grid-column-start: 1;
    grid-column-end: 3;    
}

#features{
    display:flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: 35px;
}

.details{
    display: flex;
    flex-direction: column;
}

.detail-card{
    height:auto;
    width:80%;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
    background-image: linear-gradient(90deg,#e5ecff,#f4f5f6);
    border: 1px solid grey;
}

.detail-card p{
    margin: 5px;
    text-align: center;
    color: #263238;
    font-weight: bold;
}

.detail-text{
    color: #263238;
    font-weight: bold;
    margin-left: 35px;
}

#btn-box{
    display: flex;
    width: 20%;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#download{
    height:40px;
    width:150px;
    margin-top: 10px;
    background-color: rgb(0, 60, 255);
    color:white;
    transition: 0.1s;
}

#download:hover{
    transform: scale(1.05);
}

@media (max-width:760px) {
    #detail-container{
        align-self: center;
        position: relative;
        margin-left: 20px;
        bottom: 60px;
    }
    .detail-section{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        margin-left: 0px;
    }

    .detail-content{
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
    }

    #btn-box{
        width: 40%;
        align-self: center;
    }

    #download{
        width:auto;
        align-self: center;
    }

    .detail-card{
        align-self: center;
    }
}

#detail{
    border: none;
}



