.rating-container{
    display: flex;
    flex-direction: column;
    height: 200px;
    width:350px;
}

#heading{
    flex-basis: 40%;
}

.rating-items{
    display: flex;
    height: 20%;
}

#ratings{
    flex-direction: column;
}

#ratings p{
    position: relative;
    bottom: 20px;
}

#stars{
    position:relative;
    bottom: 40px;
}

.header-items{
    display:flex;
    margin-left: 10px;
    align-items: center;
}

.box{
    display: flex;
}
