.app{
  display:flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin';
  height: 100vh;
  width:98.5vw;
}

nav{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height:auto;
  width:101%;
  right: 5px;
  border-bottom: 2px solid rgb(185, 184, 184);
}

#logo{
  height: auto;
  width:auto;
  margin-left: 40px;
}

#logo-text{
  height: 28px;
  width: 150px;
}

#logo h2{
  margin: auto;
}

#need-help{
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  width:auto;
  right: 20px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.call-logo{
  background-color: rgb(0, 60, 255);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-right: 5px;
}

.call-logo img{
  margin-top: 4px;
  margin-left: 4px;
  height: 70%;
  width: 70%;
}

#content{
  display:grid;
  grid-template-columns: 70vw 30vw;
}

#section1{
  display: flex;
  margin-top: 20px;
  height: 50%;
}

#logo-box{
    display: flex;
    height: 200px;
    width:300px;
    border:3px solid #007CFF;
    background-color: #cbe3fd;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

#logo-item{
  display: flex;
  height: 50%;
  width:60%; 
  justify-content: center;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  align-items: center;
  border-radius: 15px;
  background-color: #F7FCFB;
  border:2px solid #007CFF;
}

#X{
  color: #007CFF;
}


#section2{
  height: auto;
  margin-top: 20px;
  width:80%;
  align-self:self-start;
}
#section3{
  position: relative;
  height: auto;
  margin-left: 20px;
  width: 95%;
  bottom:170px;
}

@media (max-width:1200px) {
  #content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  #section1{
    display: flex;
    width:90%;
    order: 1;
    justify-content: space-between;
    margin-top: 20px;
  }

  #section3{
    position: relative;
    height: auto;
    top: 75px;
    order: 2;
    margin-left: 0px;
    width: 90%;
  }

  #section2{
    position: relative;
    order: 3;
    align-self: center;
    margin-top: 80px;
  }
}

@media (max-width:630px) {

  #logo-box{
    height: 150px;
    width:300px;
}

  #logo{
    margin-left: 20px;
  }
  #logo-text{
    height: 20px;
    width: 100px;
  }

  #section1{
    flex-direction: column;
    align-items: center;
  }

  #section3{
    margin-left: 0px;
  }
}
