.app{
  display:flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin';
  height: 100vh;
  width:98.5vw;
}

nav{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height:auto;
  width:101%; 
  right: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

#logo{
  height: auto;
  width:auto;
  margin-left: 40px;
}

#logo-text{
  height: 25px;
  width: 150px;
}

#logo h2{
  margin: auto;
}

#need-help{
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  width:auto;
  right: 20px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.call-logo{
  background: linear-gradient(to bottom, #acc3f5 0%, white 100%);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-right: 5px;
}

#need-help p{
  margin-left: 5px;
  font-weight: 100;
}

.call-logo img{
  margin-top: 5px;
  margin-left: 5px;
  height: 70%;
  width: 70%;
}

.content-About{
  display:grid;
  grid-template-columns: 70vw 30vw;
}

.content-Portfolio{
  display:flex;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.hidden{
  display: none;
}

.section1{
  display: flex;
  margin-top: 20px;
  height: 50%;
}

#logo-box{
    display: flex;
    height: 200px;
    width:300px;
    border:3px solid #007CFF;
    background-color: #cbe3fd;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 75px;
}

.portfolio-Items{
  display: flex;
  width:100%;
  height:auto;
}

.portfolio-item1{
  display: flex;
  justify-content: center;
  width: 34%;
  height: 400px;
}

.portfolio-item2{
  width: 60%;
  height: auto;
}

#logo-item{
  display: flex;
  height: 50%;
  width:60%; 
  justify-content: center;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  align-items: center;
  border-radius: 15px;
  background-color: #F7FCFB;
}

#X{
  color: #007CFF;
}


.section2{
  display: flex;
  height: auto;
  margin-top: 20px;
  width:auto;
  align-self: self-start;
}

.hidden{
  display:none;
}

.section3-About{
  position: relative;
  height: auto;
  margin-left: 20px;
  width: 95%;
  bottom:170px;
}

.section3-Portfolio{
  height: auto;
  width: 100%;
}

@media (max-width:1200px) {
  .content-About{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .section1{
    display: flex;
    width:90%;
    order: 1;
    border: 2px solid blue;
    justify-content: space-between;
    margin-top: 20px;
  }

  .section3-About{
    position: relative;
    height: auto;
    top: 75px;
    order: 2;
    margin-left: 50px;
    margin-bottom: 10%;
    margin-top:5%;
    width: 90%;
  }

  .section3-Portfolio{
    position: relative;
    height: auto;
    order: 2;
    top: 75px;
    margin-left: 0px;
    margin-bottom: 10%;
    margin-top:5%;
    width: 90%;
  }

  .section2{
    position: relative;
    order: 3;
    align-self: center;
    margin-bottom: 10%;
  }
}
