.portfolio-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 7%;
}

.experience{
    display: flex;
}

.experience p:nth-child(2){
    font-weight: 600;
}

.review-content{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 10%;
}

.review-cards{
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}

@media (max-width:1020px) {

    .review-content{
        column-gap: 0%;
    }
    .review-cards{
        width: 70%;
    }
}

@media (max-width:800px) {
    .review-content{
        display: flex;
        flex-wrap: wrap;
    }
    
    .review-cards{
        height: auto;
        width: 100%;
        margin-right: 25%;
        margin-bottom: 50px;
    }
}



@media (max-width:500px){

    .portfolio-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 7%;
    }

    .review-content{
        display: flex;
        flex-direction: column;
    }

    .review-cards{
        width: 110%;
    }
}